<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Get Form 실습</h1>
    <select name="" id="">
        <%= for(let i=0; i<50; i++){%>}
        <caption value="<%= 2010 - i%>"><%= 2010 - i%></caption>
        <% } %>



    </select>
</body>
</html>