<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    <p>미들웨어 : 특정한 온전한 기능을 수행할 수 있는 코드</p>
    <a href="/user">회원보기</a>
    <a href="/comments">댓글보기</a>
</body>
</html>