<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog <%=tilte  %></title>
</head>
<body>
    <h1>about</h1>
    <nav>
        <div>
            <a href="#"> <h1>Blog</h1></a>
            <p>A my first blog</p>
        </div>
        <ul>
            <li><a href="/"></a>Home</li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Blog</a></li>
            </ul>
        </nav>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam omnis voluptatem officia provident ratione, quo veniam fugiat nam libero quibusdam, accusantium a tenetur quod explicabo eligendi nemo itaque sint excepturi!</p>

</body>
</html>