<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog - <%=title%></title>
</head>
<body>
  <nav>
    <a href=""><h1>Blog</h1></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">Create</a></li>
    </ul>
  </nav>
  <h1>About</h1>
  <div class="about content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum aliquid repellat libero voluptatem, distinctio ipsum labore perferendis velit sequi magni, tempore qui deleniti veritatis facilis, obcaecati minima vel quibusdam beatae?
  </div>
</body>
</html>