<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=tilte %></title>
</head>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quisquam quia iure sequi nobis cumque molestias ratione quo quam ut, iste provident, porro labore culpa incidunt quod dolores sint animi?
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>